[submodule "glr-transport-app"]
	path = glr-transport-app
	url = https://github.com/sebastian-king/glr-transport-app.git
[submodule "glr-transport-app-2019"]
	path = glr-transport-app-2019
	url = https://github.com/sebastian-king/glr-transport-app.git
