@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the web interface for Glr. Transport, Inc.</h1>
    <p>Functionality will be moved to the web platform soon, mobile app in progress.</p>
</div>
